section.block.details.custom-bg-light  
    .container 
        .row.justify-content-around.align-items-center 
            .col-12.col-lg-6 
                h1.details__title Tapicerka Fotelów Samochodowych – Pełna i Częściowa Wymiana Tapicerki
                p.details__description.custom-bg-light W Tapik zajmujemy się profesjonalną tapicerką foteli samochodowych – zarówno pełną peretką, jak i obiciem wybranych elementów. Oferujemy szeroki wybór tkanin, alcantary oraz skóry ekologicznej. Tapicerujemy fotele przednie i tylne, z zachowaniem oryginalnego kształtu i stylu wnętrza pojazdu.
                ul 
                    li 
                        b.text-bold Tylko nowe materiały: 
                        | Stara tapicerka jest zdejmowana, zakładamy nową od podstaw.
                    li 
                        b.text-bold Obszycie całych foteli lub ich elementów: 
                        | Wymiana siedziska, oparcia, boków, zagłówków – według potrzeb.
                    li 
                        b.text-bold Równe szwy i dopasowanie: 
                        | Precyzyjne szycie, które nie odbiega od fabrycznego.
                    li 
                        b.text-bold Dopasowanie do stylu wnętrza: 
                        | Kolory, faktura i wzory dobierane indywidualnie.
                    li 
                        b.text-bold Fachowy montaż: 
                        | Demontaż, szycie i montaż w naszym warsztacie w Poznaniu.
            .col-12.col-lg-6.col-xl-5.col-xxl-4 
                .swiper.details-swiper
                    .swiper-wrapper 
                        each num in [9,10,11,12,13,14,15,16]
                            .swiper-slide 
                                picture.work
                                    source(srcset=`img/seat/seat-img-${num}-mob.webp`, type="image/webp")
                                    img.work__img(src=`img/seat/seat-img-${num}-mob.jpg`, alt=`Dywaniki samochodowe – zdjęcie ${num}`)
                    .swiper-button-next
                    .swiper-button-prev
                .swiper.details-swiper-thumb 
                    .swiper-wrapper 
                        each num in [9,10,11,12,13,14,15,16]
                            .swiper-slide 
                                picture.work
                                    source(srcset=`img/seat/seat-img-${num}-mob.webp`, type="image/webp")
                                    img.work__img(src=`img/seat/seat-img-${num}-mob.jpg`, alt="")
