section.block.details.custom-bg-light  
    .container 
        .row.justify-content-around.align-items-center 
            .col-12.col-lg-6 
                h1.details__title Tapicerka Boczków Drzwi – Odśwież Wnętrze Swojego Auta
                p.details__description.custom-bg-light Boczek drzwiowy to jeden z najbardziej eksploatowanych elementów wnętrza auta. W Tapik oferujemy profesjonalne obszywanie boczków drzwi tkaniną, alcantarą lub skórą – z dopasowaniem koloru, struktury i stylu do reszty wnętrza. Pracujemy starannie i precyzyjnie, dzięki czemu każdy detal wygląda jak z fabryki.
                ul 
                    li 
                        b.text-bold Nowoczesny wygląd: 
                        | Boczek drzwiowy z nową tapicerką odmienia całą kabinę.
                    li 
                        b.text-bold Trwałe i odporne materiały: 
                        | Tkaniny odporne na przetarcia, promienie UV i wilgoć.
                    li 
                        b.text-bold Idealne dopasowanie: 
                        | Obszycie z zachowaniem kształtu, przetłoczeń i oryginalnych linii.
                    li 
                        b.text-bold Styl dopasowany do wnętrza: 
                        | Pomagamy dobrać materiał, który pasuje do foteli, deski i podsufitki.
            .col-12.col-lg-6.col-xl-5.col-xxl-4 
                .swiper.details-swiper
                    .swiper-wrapper 
                        each num in [1,2,3,4,5,6,7,8]
                            .swiper-slide 
                                picture.work
                                    source(srcset=`img/door/door-img-${num}-mob.webp`, type="image/webp")
                                    img.work__img(src=`img/door/door-img-${num}-mob.jpg`, alt=`Dywaniki samochodowe – zdjęcie ${num}`)
                    .swiper-button-next
                    .swiper-button-prev
                .swiper.details-swiper-thumb 
                    .swiper-wrapper 
                        each num in [1,2,3,4,5,6,7,8]
                            .swiper-slide 
                                picture.work
                                    source(srcset=`img/door/door-img-${num}-mob.webp`, type="image/webp")
                                    img.work__img(src=`img/door/door-img-${num}-mob.jpg`, alt="")
