section.works.block#works 
    .container
        h2.works__title.text-center.text-uppercase Prace
        h3.h6.text-center.text-light.works__subtitle Efekty mojej pracy – zobacz metamorfozy wnętrz samochodowych!
        .works__categories.categories
            .categories__item
                button.btn.btn-secondary.btn-small.active.category(type="button", data-slide="0") Tapicerka podsufitki
            .categories__item
                button.btn.btn-secondary.btn-small.category(type="button", data-slide="1") Tapicerka foteli
            .categories__item
                button.btn.btn-secondary.btn-small.category(type="button", data-slide="2") Tapicerka drzwi (boczków)
            .categories__item
                button.btn.btn-secondary.btn-small.category(type="button", data-slide="3") Tapicerka detali wnętrza
            .categories__item
                button.btn.btn-secondary.btn-small.category(type="button", data-slide="4") Poduszki pod zagłówek
            .categories__item
                button.btn.btn-secondary.btn-small.category(type="button", data-slide="5") Dywaniki samochodowe (EVA, welur)
            .categories__item
                button.btn.btn-secondary.btn-small.category(type="button", data-slide="6") Organizer do bagażnika (EVA)
        .swiper.works-swiper
            .swiper-wrapper 
                .swiper-slide
                    .row.gallery.row-cols-2.row-cols-sm-2.row-cols-md-4
                        each num in [1,2,3,4,5,6,7,8]
                            a.col(href=`img/ceiling/ceiling-img-${num}.webp`) 
                                picture.work
                                    source(srcset=`img/ceiling/ceiling-img-${num}-mob.webp`, type="image/webp")
                                    img.work__img(loading="lazy", src=`img/ceiling/ceiling-img-${num}-mob.jpg`, alt="")
                .swiper-slide
                    .row.gallery.row-cols-2.row-cols-sm-2.row-cols-md-4
                        each num in [1,2,3,4,5,6,7,8]
                            a.col(href=`img/seat/seat-img-${num}.webp`) 
                                picture.work
                                    source(srcset=`img/seat/seat-img-${num}-mob.webp`, type="image/webp")
                                    img.work__img(loading="lazy", src=`img/seat/seat-img-${num}-mob.jpg`, alt="")
                .swiper-slide
                    .row.gallery.row-cols-2.row-cols-sm-2.row-cols-md-4
                        each num in [1,2,3,4,5,6,7,8]
                            a.col(href=`img/door/door-img-${num}.webp`) 
                                picture.work
                                    source(srcset=`img/door/door-img-${num}-mob.webp`, type="image/webp")
                                    img.work__img(loading="lazy", src=`img/door/door-img-${num}-mob.jpg`, alt="")
                .swiper-slide
                    .row.gallery.row-cols-2.row-cols-sm-2.row-cols-md-4
                        each num in [1,2,3,4,5,6,7,8]
                            a.col(href=`img/wheel/wheel-img-${num}.webp`) 
                                picture.work
                                    source(srcset=`img/wheel/wheel-img-${num}-mob.webp`, type="image/webp")
                                    img.work__img(loading="lazy", src=`img/wheel/wheel-img-${num}-mob.jpg`, alt="")
                .swiper-slide
                    .row.gallery.row-cols-2.row-cols-sm-2.row-cols-md-4
                        each num in [1,2,3,4,5,6,7,8]
                            a.col(href=`img/pillow/pillow-img-${num}.webp`) 
                                picture.work
                                    source(srcset=`img/pillow/pillow-img-${num}-mob.webp`, type="image/webp")
                                    img.work__img(loading="lazy", src=`img/pillow/pillow-img-${num}-mob.jpg`, alt="")
                .swiper-slide
                    .row.gallery.row-cols-2.row-cols-sm-2.row-cols-md-4
                        each num in [1,2,3,4,5]
                            a.col(href=`img/mats/mats-img-${num}.webp`) 
                                picture.work
                                    source(srcset=`img/mats/mats-img-${num}-mob.webp`, type="image/webp")
                                    img.work__img(loading="lazy", src=`img/mats/mats-img-${num}-mob.jpg`, alt="")
                .swiper-slide
                    .row.gallery.row-cols-2.row-cols-sm-2.row-cols-md-4
                        each num in [1,2,3,4,5,6,7,8]
                            a.col(href=`img/box/box-img-${num}.webp`) 
                                picture.work
                                    source(srcset=`img/box/box-img-${num}-mob.webp`, type="image/webp")
                                    img.work__img(loading="lazy", src=`img/box/box-img-${num}-mob.jpg`, alt="")
        .works__btn 
            a.btn.btn-primary.btn-large(href="#cta") Umów się
