section.block.details.custom-bg-light  
    .container 
        .row.justify-content-around.align-items-center 
            .col-12.col-lg-6 
                h1.details__title Tapicerka Kierownicy, Gałki Zmiany Biegów, Podłokietnika i Innych Detali
                p.details__description.custom-bg-light Obszywanie drobnych elementów wnętrza to świetny sposób na poprawę wyglądu i komfortu jazdy. W Tapik oferujemy precyzyjne obszycie kierownic, gałek zmiany biegów, podłokietników oraz innych detali, takich jak uchwyty czy mieszki. Wykorzystujemy wysokiej jakości skórę naturalną, alcantarę oraz nowoczesne tkaniny, które nie tylko dobrze wyglądają, ale także są trwałe i przyjemne w dotyku.
                ul 
                    li 
                        b.text-bold Nowy wygląd i lepszy chwyt: 
                        | Ergonomia i estetyka w jednym.
                    li 
                        b.text-bold Materiały premium: 
                        | Skóra, alcantara lub tekstylia dopasowane do reszty wnętrza.
                    li 
                        b.text-bold Precyzyjne wykonanie: 
                        | Równe szwy, profesjonalne dopasowanie, fabryczna jakość.
                    li 
                        b.text-bold Szeroki zakres obszycia: 
                        | Kierownica, gałka biegów, podłokietnik, uchwyty, mieszki i więcej.
                    li 
                        b.text-bold Tapicer samochodowy w Poznaniu: 
                        | Fachowe wykonanie na miejscu – Tapik.
            .col-12.col-lg-6.col-xl-5.col-xxl-4 
                .swiper.details-swiper
                    .swiper-wrapper 
                        each num in [1,2,3,4,5,6,7,8]
                            .swiper-slide 
                                picture.work
                                    source(srcset=`img/wheel/wheel-img-${num}.webp`, type="image/webp")
                                    img.work__img(src=`img/wheel/wheel-img-${num}.jpg`, alt=`Dywaniki samochodowe – zdjęcie ${num}`)
                    .swiper-button-next
                    .swiper-button-prev
                .swiper.details-swiper-thumb 
                    .swiper-wrapper 
                        each num in [1,2,3,4,5,6,7,8]
                            .swiper-slide 
                                picture.work
                                    source(srcset=`img/wheel/wheel-img-${num}.webp`, type="image/webp")
                                    img.work__img(src=`img/wheel/wheel-img-${num}.jpg`, alt="")
